p{background-color: beige;}
h1{color:blueviolet;}
#lista{background-color: lightblue;}
#list{background-color: lightgray;}
.list {color: saddlebrown;
    font-size: 20px;}
.titulos{text-decoration: underline;}