.letra {color: brown; font-family: 'Times New Roman', Times, serif;}
#tituloprincipal {background-color: rgb(203, 225, 233); text-align: center;}
p {font-family:Arial, Helvetica, sans-serif;}
.fondo {background-color:bisque;}