h1 {
    color: chocolate;
    background-color: cyan;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    color: red;
    background-color: chartreuse;
    font-family:'Courier New', Courier, monospace
}
h2 {
    color:blueviolet;
    background-color:black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}